.container {
    padding: 24px;
    height: 100%;
    overflow-y: auto;
    background: transparent;
}

.toolbar {
    margin-bottom: 24px;
    display: flex;
    justify-content: flex-end;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    padding-bottom: 24px;
}
